@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Domain</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head> 

<body>
     <header>
        <div class="row header">
        <div class="col"><img src="/imagens/inicio/recepcao2.jpg" width="100%" height="auto"></div>
        </div> 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Domain Estética Avançada</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Espaco">Espaço</a>
                        </li>                                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Agendamento" asp-action="FormAgendamento">Agende Aqui</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FaleConosco" asp-action="FormFaleconosco">Fale Conosco</a>
                        </li>
                        @if(Context.Session.GetInt32("idUsuario")==null)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Acesso Exclusivo</a>
                        </li>
                        }
                        else
                        {                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Agendamento" asp-action="Listar">Agendamentos</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Faleconosco" asp-action="ListarMensagem">Mensagens</a>
                        </li>

                        <p class="text-right">Olá @Context.Session.GetString("nomeUsuario")!</p> 
                        }
                          
                     </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
             &copy; 2023 Domain Estética Avançada | Rua das Figueiras, 802 Santo André - SP | 11 4455-4455 / 11 94175-5577 |  <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a> |
             <a href=""><img src=/imagens/midias/wap.jpg width="3%"></a><a href=""><img src=/imagens/midias/fb.jpg width="3%"></a><a href=""><img src=/imagens/midias/ig.jpg width="3%"></a>
       
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
