@{
    ViewData["Title"] = "Mensagem Enviada";
}

<div>
    <p style="text-align:center">
    <img src="/imagens/logo.png" width="20%" height="auto">

    <h1>
        <p style="text-align:center">
            Sua mensagem foi enviada com sucesso!
            <br>
            A Domain agradece o seu contato.
        </p>
    </h1>
</div>