@{
    ViewData["Title"] = "Estética Corporal";
}

<style type="text/css">
	h1{
		color: gray;
	}
</style> 
 
 <div>
    <table style="float:left">
        <tr>
        <th><img src="../imagens/est-corporal/dren-linf.jpg" width="350px" height="auto"></th>
        </tr>
    </table>
                
    <h1>
        Drenagem Linfática
    </h1>

    <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur aliquam nisi, sed posuere est euismod ut. Maecenas vitae lorem velit. Vestibulum vulputate luctus quam, in tincidunt diam cursus at. Proin sed interdum tortor. Proin neque diam, fringilla in eros sed, blandit ultrices nisi. Fusce aliquet sollicitudin tincidunt. Nam efficitur nunc nec condimentum suscipit. Proin aliquam fringilla laoreet. Phasellus sit amet mauris vitae justo vehicula pretium. Nullam in faucibus neque. Sed commodo neque mauris, eget molestie lorem aliquam quis. Quisque dui urna, pellentesque vel elementum et, iaculis ut quam. Vestibulum pretium elit in consequat sagittis. In eu sagittis arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>
        <a href="/Agendamento/FormAgendamento">
        <input type="submit" value="Agendar Avaliação" class="btn w-10 btn-warning">            
        </a>
    </p>
   
</div>

<br><br>
            
<p style="text-align: center"><img src="/imagens/divider.png" width="20%"><img src="/imagens/divider.png" width="20%"><img src="/imagens/divider.png" width="20%"></p>

<br><br> 
<div>
    <table style="float:right">
        <tr>
        <th><img src="../imagens/est-corporal/mas-mod.jpg" width="350px" height="auto"></th>
        </tr>
    </table>

    
    <h1 style="text-align: right;">
        Massagem Modeladora
    </h1>

    <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur aliquam nisi, sed posuere est euismod ut. Maecenas vitae lorem velit. Vestibulum vulputate luctus quam, in tincidunt diam cursus at. Proin sed interdum tortor. Proin neque diam, fringilla in eros sed, blandit ultrices nisi. Fusce aliquet sollicitudin tincidunt. Nam efficitur nunc nec condimentum suscipit. Proin aliquam fringilla laoreet. Phasellus sit amet mauris vitae justo vehicula pretium. Nullam in faucibus neque. Sed commodo neque mauris, eget molestie lorem aliquam quis. Quisque dui urna, pellentesque vel elementum et, iaculis ut quam. Vestibulum pretium elit in consequat sagittis. In eu sagittis arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>
        <p style="text-align:right">
            <a href="/Agendamento/FormAgendamento">
            <input type="submit" value="Agendar Avaliação" class="btn w-10 btn-warning">             
            </a>
        </p>
    </p>
</div>

<br><br>
            
<p style="text-align: center"><img src="/imagens/divider.png" width="20%"><img src="/imagens/divider.png" width="20%"><img src="/imagens/divider.png" width="20%"></p>

<br><br> 

<div>
    <table style="float:left">
        <tr>
        <th><img src="../imagens/est-corporal/carboxi.jpg" width="350px" height="auto"></th>
        </tr>
    </table>

    <h1>
        Carboxiterapia
    </h1>

    <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur aliquam nisi, sed posuere est euismod ut. Maecenas vitae lorem velit. Vestibulum vulputate luctus quam, in tincidunt diam cursus at. Proin sed interdum tortor. Proin neque diam, fringilla in eros sed, blandit ultrices nisi. Fusce aliquet sollicitudin tincidunt. Nam efficitur nunc nec condimentum suscipit. Proin aliquam fringilla laoreet. Phasellus sit amet mauris vitae justo vehicula pretium. Nullam in faucibus neque. Sed commodo neque mauris, eget molestie lorem aliquam quis. Quisque dui urna, pellentesque vel elementum et, iaculis ut quam. Vestibulum pretium elit in consequat sagittis. In eu sagittis arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>
        <a href="/Agendamento/FormAgendamento">
        <input type="submit" value="Agendar Avaliação" class="btn w-10 btn-warning">            
        </a>
    </p>
</div>

<br><br>
            
<p style="text-align: center"><img src="/imagens/divider.png" width="20%"><img src="/imagens/divider.png" width="20%"><img src="/imagens/divider.png" width="20%"></p>

<br><br> 

<div>
    <table style="float:right">
        <tr>
        <th><img src="../imagens/est-corporal/le.jpg" width="350px" height="auto"></th>
        </tr>
    </table>

    <h1 style="text-align: right;">
        Lipo Enzimática
    </h1>

    <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur aliquam nisi, sed posuere est euismod ut. Maecenas vitae lorem velit. Vestibulum vulputate luctus quam, in tincidunt diam cursus at. Proin sed interdum tortor. Proin neque diam, fringilla in eros sed, blandit ultrices nisi. Fusce aliquet sollicitudin tincidunt. Nam efficitur nunc nec condimentum suscipit. Proin aliquam fringilla laoreet. Phasellus sit amet mauris vitae justo vehicula pretium. Nullam in faucibus neque. Sed commodo neque mauris, eget molestie lorem aliquam quis. Quisque dui urna, pellentesque vel elementum et, iaculis ut quam. Vestibulum pretium elit in consequat sagittis. In eu sagittis arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <br>
        <p style="text-align:right">
            <a href="/Agendamento/FormAgendamento">
            <input type="submit" value="Agendar Avaliação" class="btn w-10 btn-warning">                 
            </a>
        </p>
    </p>
</div>