@{
    ViewData["Title"] = "Home";
}


    <h1><p style="text-align:center">DOMAIN ESTÉTICA AVANÇADA</p></h1>

    <h2><p style="text-align:center">Desde 2017 cuidando de você! Na Domain você vai encontrar:</p></h2>   
    
    <div>
        <p style="text-align:center">
            <a href="Home/EsteticaF"><img src="imagens/inicio/est-facial.jpg" width="30%" height="auto"></a>
            <a href="Home/EsteticaC"><img src="imagens/inicio/est-corporal1.jpg" width="30%" height="auto"></a>
            <a href="Home/Depilacao"><img src="imagens/inicio/depilacao.jpg" width="30%" height="auto"></a>
        </p>
    </div>



    <div>
        <p style="text-align:center">
            <a href="Home/MaosePes"><img src="imagens/inicio/maos-pes.jpg" width="45%" height="auto"></a>
            <a href="Home/SpaDay"><img src="imagens/inicio/spa-day1.jpg" width="45%" height="auto"></a>
        </p>
    </div>

    <br>
    <div class="rectangle"></div>