@{
    ViewData["Title"] = "Serviços";
}


<h2>
    Nossos Serviços:
</h2>

<h4>
    <ul>
        <li>
            <a href="EsteticaF">Estética Facial</a>
        </li>

        <ul>
            <li>Limpeza de Pele</li> 
            <li>Extensão de Cílios </li>
            <li>Design de Sobrancelhas</li> 
            <li>Peeling </li>
        </ul>
        
        <br>

        <li>
            <a href="EsteticaC">Estética Corporal</a>
        </li>

        <ul>
            <li>Drenagem Linfática</li> 
            <li>Massagem Modeladora </li>
            <li>Carboxterapia</li> 
            <li>Lipo Enzimática</li>
        </ul>
        
        <br>

        <li>
            <a href="Depilacao">Depilação</a>
        </li>

        <ul>
            <li>Depilação com Linha / Egípcia</li> 
            <li>Depilação com Cera</li>
            <li>Depilação a Laser</li> 
        </ul>
        
        <br>

        <li>
            <a href="MaosePes">Mãos e Pés</a>
        </li>

        <ul>
            <li>Manicure</li> 
            <li>Pedicure</li>
            <li>Alongamento de Unhas</li> 
        </ul>
        
        <br>

        <li>
            <a href="SpaDay">Spa Day</a>
        </li>

        <ul>
            <li>Massagem Relaxante com Pedras + Hidromassagem com Florais + Escalda Pés + Manicure e Pedicure</li> 
        </ul>
        
        <br>

    </ul>

</h4>

