@{
    ViewData["Title"] = "Agendamento realizado!";
}


<div>
    <p style="text-align:center">
    <img src="/imagens/logo.png" width="20%" height="auto">

    <h1>
        <p style="text-align:center">Agendamento realizado!
        <br> 
        Em breve realizaremos contato com você!
        </p>
    </h1>

</div>